body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p{
    background-color: aqua;
    padding: 2px;
    border: 1px solid;
    text-align: center;

}

#id2{
    margin: 50px;
    flex-grow: 5
}
