<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body style="margin: 10px;">
    <%- include('partials/header'); %>
    <%- include('partials/post'); %>
    <%- include('partials/footer'); %>
    
</body>
</html>